<div class="container">
    <div class="jumbotron footer">
        <div class="row">
            <section>
                <div class="col-sm-3">
                    <h4>Links</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </section>
            <section>
                <div class="col-sm-5">
                    <h4>Our Address</h4>
                    <p class="address">
                        <label>214 King Street West,</label>
                        <label>Downtown, Toronto</label>
                        <label>ONTARIO </label>
                        <label><span class="glyphicon glyphicon-earphone"></span> : +416 1234 5678</label>
                        <label><span class="glyphicon glyphicon-phone-alt"></span> : +416 1234 5678</label>
                        <label><span class="glyphicon glyphicon-envelope"></span> : abc@xyz.com</label>
                    </p>
                </div>
            </section>
            <aside>
                <div class="class-sm-4">
                    <a class="icon" href="#">
                        <img src="../../assets/icons/gogle_plus_icon.png" class="img-responsive" width="35px" />
                    </a>
                    <a class="icon" href="#">
                        <img src="../../assets/icons/fb-art.png" class="img-responsive" width="33px" />
                    </a>
                    <a class="icon" href="#">
                        <img src="../../assets/icons/linkedin.png" class="img-responsive" width="34px" />
                    </a>                    
                    <a class="icon" href="#">
                        <img src="../../assets/icons/Twitter-icon.png" class="img-responsive" width="34px" />
                    </a>
                    <a class="icon" href="#">
                        <img src="../../assets/icons/YouTube.png" class="img-responsive" width="34px" />
                    </a>
                    <a class="icon" href="#">
                        <img src="../../assets/icons/mail.png" class="img-responsive" width="34px" />
                    </a>
                </div>
            </aside>
        </div>
        <p class="text-center">&#169; Copyright 2015 Ristorante || Fornello</p>
    </div>
</div>