<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Fichipizza</h3>
            </div>
            <div class="col-sm-9">
                <p>
                    A unique combination of Mediterranean and Italian pizza, topped with Mascarphone, proscuitto, figs, grando panado, honey
                    and arugula.
                </p>
                <a href="#">More &raquo;</a>
            </div>
            <div class="col-sm-3">
                <h3 class="heading-no-margin text-center">Our Unique Culinary Creations</h3>
            </div>
        </div>
        <hr />
        <div class="col-sm-8 hr"></div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-8">
                <h3 class="heading-no-margin">Weekend Grand Buffet</h3>
            </div>
            <div class="col-sm-4">
                <h3 class="heading-no-margin text-center">This Month's Promotions</h3>
            </div>
            <div class="col-sm-8">
                <p>
                    Featuring mouthwatering combinations with a choice of five different salads, six enticing appetizers, six main entrees and
                    five choicest desserts. Free flowing bubbly and soft drinks. All for just $19.99 per person
                </p>
                <a href="#">More &#8811;</a>
            </div>
        </div>
        <hr />
        <div class="col-sm-12 hr"></div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="heading-no-margin">Tommy McHugh</h3>
            </div>
            <div class="col-sm-9">
                <h4>Executive Chef</h4>
                <p>
                    Award winning three-star Michielin chef with wide International experience having worked closely with whas-who in a culinary
                    world, he specializies in creating mouth watering Mediterranean-Italian experiences.
                </p>
                <a href="#">More &raquo;</a>
            </div>
            <div class="col-sm-3">
                <h3 class="heading-no-margin text-center">Meet our Culinary Specialists</h3>
            </div>
        </div>
        <hr />
        <div class="col-sm-12 hr"></div>
    </div>
</section>
<section>
    <menu-component></menu-component>
</section>